spring:
  application:
    name: spacebook

  datasource:
  #한글 깨짐 방지 및 타임존 문제 방지
    url: jdbc:mysql://localhost:3306/${DB_NAME}?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

jwt:
  secret: ${JWT_SECRET}
  access-token-expire-minutes: 30
  refresh-token-expire-days: 7

groq:
  api-key: ${GROQ_API_KEY}